<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Consumos</h1>
        <div class="container w-25">
            <div class="card border border-2 mx-auto">

                <h5 class="card-header" role='button' id="headingOne">
                    <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">

                        RF5
                    </a>

                </h5>

                <div id="busqueda" class="collapse">
                    <form th:action="@{consumos}" method="get">
                        <label class="col-form-label">Nombre Usuario:</label>
                        <input class="form-control" type="text" id="nombreUsuario" name="nombreUsuario" />

                        <label class="col-form-label" for="fechaInicio">Fecha Inicio:</label>
                        <input class="form-control" type="text" id="fechaInicio" name="fechaInicio" />

                        <label class="col-form-label" for="fechaFin">Fecha Fin:</label>
                        <input class="form-control" type="text" id="fechaFin" name="fechaFin" />


                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Buscar por usuario y rango de fechas</button>
                        </div>

                        <br />
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Descirpcion</th>
                    <th>Fecha</th>
                    <th>Costo</th>
                    <th>Servicio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="consumo : ${consumos}">
                <tr>
                    <td th:text="${consumo.idConsumo}"></td>
                    <td th:text="${consumo.descripcion}"></td>
                    <td th:text="${consumo.fecha}"></td>
                    <td th:text="${consumo.costo}"></td>
                    <td th:text="${consumo.Servicios_idServicio.idServicio}"></td>
                    <td>
                        <a th:href="@{consumos/{idConsumo}/edit(idConsumo=${consumo.idConsumo})}" >
                            Editar
                        </a>
                        <a th:href="@{consumos/{idConsumo}/delete(idConsumo=${consumo.idConsumo})}" 
                        onclick="return confirm('¿Está seguro de eliminar el consumo?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block> 
        </table>
        <div>
            <a th:href='@{consumos/new}' class="btn btn-primary">Añadir Consumo</a>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>

    </div>
</div>
    
</body>
</html>