<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Habitaciones</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Numero</th>
                    <th>Tipo Habitacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="habitacion : ${habitaciones}">
                <tr>
                    <td th:text="${habitacion.numero}"></td>
                    <td th:text="${habitacion.TipoH_nombreTipo.nombreTH}"></td>
                    <td>
                        <a th:href="@{habitaciones/{numero}/edit(numero=${habitacion.numero})}" >
                            Editar
                        </a>
                        <a th:href="@{habitaciones/{numero}/delete(numero=${habitacion.numero})}" 
                        onclick="return confirm('¿Está seguro de eliminar la habitacion?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block> 
        </table>
        <div>
            <a th:href='@{habitaciones/new}' class="btn btn-primary">Añadir Habitacion</a>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>

    </div>
</div>
    
</body>
</html>